[user]
	email = turbileg@andsystems.tech
	name = Turbileg
[blame]
	date = relative
[alias]
    today = log --since=midnight --author='turbileg' --oneline --stat
    me = log --author='turbileg' --oneline --stat --pretty
    asdf = diff origin/master
[include]
	path = ~/.gitconfig.local
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
